.edit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.profile-form {
max-width: 400px;
padding: 20px;
border: 1px solid #ccc;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.form-label {
font-weight: bold;
}

.form-control {
margin-bottom: 15px;
}



