.login-container {
    width: 100vw;
    height: 100vh;
}

.login-wrap {
    position: fixed;
    left: 40px;
    top: 40px;
    right: 40px;
    bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}